# Terraform
.terraform/
*.tfstate
*.tfstate.backup
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraform.tfstate
.terraform.tfstate.backup
.terraform.lock.hcl

# Sensitive variable files
*.tfvars
*.tfvars.json

# Local environment files
.terraformrc
terraform.rc

# Node files
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log
package-lock.json
yarn.lock
.pnpm-debug.log
.npmrc

# Editor directories and files
.vscode/
.idea/
.DS_Store
